{
	"reporter": ["lcov", "text-summary"],
	"report-dir": "./coverage",
	"all": true,
	"extends": "@istanbuljs/nyc-config-typescript",
	"require": ["ts-node/register", "source-map-support/register"],
	"include": ["**/*.ts"],
	"exclude": ["**/*.spec.ts"]
}
